//https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_and_inheritance

#cascade {

  h1 { 
      color: red; 
  }
  h1 { 
      color: blue; 
  }

}

#specificity {

  .main-heading { 
      color: red; 
  }
          
  h1 { 
      color: blue; 
  }
    
}

#inheritance {

  p {
      color: blue;
  }

  span {
      color: black;
  }

}

#mix {

  p {
      color: blue;
  }

  .x {
    color: green;
  }

  span {
      color: black;
  }

  span {
      color: red;
  }
  

}

#understanding_inheritance {

  /*
  "Which properties are inherited by default and which aren't is largely down to common sense."
  */

  .main {
      color: rebeccapurple;
      border: 2px solid #ccc;
      padding: 1em;
  }

  .special {
      color: black;
      font-weight: bold;
  }

}



