h1 {
  color: red;
}

html {

  box-sizing: border-box;

  *:not(img), *:before, *:after { box-sizing: inherit; }

  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;

}
html {

  box-sizing: border-box;

  *:not(img), *:before, *:after { box-sizing: inherit; }

  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;

}

#object_fit {




  .wrapper {
    display: flex;
    align-items: flex-start;

    > * {
      margin: 20px;
    }
  }

  .box {
    width: 200px;
    height: 200px;

    border: 5px solid darkblue;

  }

  
  //To work object-fit needs the the image to be sized.
  img {
    height: 100%;
    width: 100%;
  }

  .cover {
    object-fit: cover;
  }

  .contain {
    object-fit: contain;
  }

  //The default value of object-fit is 'fill';




      

}

//"Moove the image underneth the frame."
#img_object_position {

  margin-bottom: 40px;

  .box {
    width: 200px;
    height: 200px;

    border: 5px solid darkblue;

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 55% 100%;
  }

}

#replaced_elements_in_layout {

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;

    > div {
      background-color: rebeccapurple;
      border-radius: .5em;
    }
  }

  //If we don't put that the star is not stretched out. 
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;

  }

}

//Nothing very specific, just an example of a form.
#basic_form {

  form{

    margin-top: 10px;

    > div {
      display: flex;
    }
  }

  label {
    width: 10em;
  }

  .buttons {
    justify-content: center;
  }

  input[type="text"],
  input[type="email"] {
    border: 2px solid #000;
    margin: 0 0 1em 0;
    padding: 10px;
    width: 100%;
  }

  input[type="submit"] {
    border: 3px solid #333;
    background-color: #999;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
  }

  input[type="submit"]:hover {
    background-color: #333;
  } 

}


